In [146]:
import pandas as pd
import numpy as np

In [44]:
# 1 Load the data as a Pandas data frame
video_game_data = pd.read_csv("/Users/theranmeadows/Desktop/dsc550datamining/week1/data/Video_Games_Sales_as_at_22_Dec_2016.csv")

# 2 Display the first ten rows of data.
video_game_data.head(5)
video_game_data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
# 3 Find the dimensions (number of rows and columns) in the data frame. 
video_game_data.shape

#What do these two numbers represent in the context of the data?

#There are 16719 rows which represents the number of videos games in this data set.
#There are 16 columns which represents a measured attribute of each video game.

(16719, 16)

In [46]:
# 4 Find the top five games by critic score.
top_5 = video_game_data.sort_values(by = "Critic_Score", ascending = False).head(5)
top_5

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

In [47]:
# 5 Find the number of video games in the data frame in each genre.
genre_count = video_game_data.Genre.value_counts()
genre_count

Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: count, dtype: int64

In [72]:
# 6 Find the first five games in the data frame on the SNES platform.

snes_top5 = video_game_data.loc["SNES"]
snes_top5.head(5)

,Name,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Platform,,,,,,,,,,,,,,,
SNES,Super Mario World,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
SNES,Super Mario All-Stars,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
SNES,Donkey Kong Country,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
SNES,Super Mario Kart,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
SNES,Street Fighter II: The World Warrior,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
# 7 Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.


publishers = video_game_data[['Publisher', 'Global_Sales']]
publishers.groupby('Publisher').sum().sort_values(by = "Global_Sales", ascending = False).head(5)

                             Global_Sales
Publisher
Nintendo                          1788.81
Electronic Arts                   1116.96
Activision                         731.16
Sony Computer Entertainment        606.48
Ubisoft                            471.61

In [134]:
# 8 Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

usa_sales = video_game_data[['NA_Sales', 'Global_Sales']]
usa_sales = usa_sales.assign(NA_Percent = usa_sales['NA_Sales'] / usa_sales['Global_Sales']).round(2).head(5)
usa_sales

   NA_Sales  Global_Sales  NA_Percent
0     41.36         82.53        0.50
1     29.08         40.24        0.72
2     15.68         35.52        0.44
3     15.61         32.77        0.48
4     11.27         31.37        0.36

In [142]:
# 9 Find the number NaN entries (missing data values) in each column.

video_game_data.isna().sum()

Platform              0
Name                  2
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [159]:
#Try to calculate the median user score of all the video games.
#You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. 
#Find and replace this string with NaN and then calculate the median. 
#Then, replace all NaN entries in the user score column with the median value.


median_score = video_game_data['User_Score'].replace(np.nan, "NaN", inplace = True) # replaces Nan values with Nan
median_score = video_game_data['User_Score'].replace("tbd", "NaN", inplace = True) # replaces "tbd" ith Nan
median_score = video_game_data['User_Score'].replace("NaN", 7.5, inplace = True) # replaces Nan values with 7.5
median_score = video_game_data['User_Score'].median() #finds the median score
median_score # the median value did not change from 7.5

7.5